<div class="centerBlock">

    <div class="block1">
        <div class="greenBlock">
            <p>Zeiterfassungsprogramm</p>
        </div>
        <div class="headerBlock">
            <p>Einstellung | Login</p>
        </div>
    </div>
    <div class="block2">

        <div class="startTime">
            <button> <p>Zeit starten</p></button>
        </div>
        <div class=" stopTime ">
            <button><p>Zeit stoppen</p></button>
        </div>
        <div class="timer">00:00</div>
    </div>
    <div class="block3 ">
        <div class="Tag ">
            Tag
        </div>
        <div class="Monat ">
            Monat
        </div>
        <div class="Jahr ">
            Jahr
        </div>
        <div class="akf ">
            Aktivität
        </div>
        <div class="akf ">
            Datum
        </div>
        <div class="akf ">
            Fehlstunden
        </div>

    </div>
    <div class="block4 ">
        <div class="kwinfo ">
            <div class="kw "> kw
                <div class="hours "> Stunden</div>
            </div>
            <div class="kw "> kw1
                <div class="hours "> 8.4</div>
            </div>
            <div class="kw "> kw2
                <div class="hours "> 8.4</div>
            </div>
            <div class="kw "> kw3
                <div class="hours "> 8.4</div>
            </div>
            <div class="kw "> kw4
                <div class="hours "> 8.4</div>
            </div>
        </div>
        <div class="akfinfo ">
            <div class="krank ">krank
                <div class="date ">11.12.2021
                    <div class="fs ">8</div>
                </div>
            </div>


        </div>
    </div>